@charset "UTF-8";

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
    display: block; 
    margin: 0px auto;
}

div {
    width: 100%;
    text-align: center;
    background-color: #f8e5aa;
    font-family: "OTEnjoystoriesBA";
}

p {
    text-align: center;
    background-color: #f8e5aa;
    font-family: 'OTEnjoystoriesBA';
    font-size: 1.7rem;
    font-weight: smaller;
    margin-top: 5px;
}

.btn {
    font-family: 'OTEnjoystoriesBA';
    font-size: 1.7rem;
    font-weight: normal;
    margin-bottom: 15px;
}

.btn span {
    display: block;
    font-family: 'OTEnjoystoriesBA';
    font-size: 13px;
    font-weight: smaller;
    margin-top: 5px;
}

.link-group {
    padding: 0 5px;
    margin-bottom: 40px;
}